.footer {
    display: grid;
    grid-template-columns: 1fr auto auto;
    background: var(--primary);
    gap: 40px;
    color: var(--white);
    padding: 25px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
}
.footer a:hover {
    color: var(--gray);
}
@media (max-width: 765px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 10px;
        justify-items: center;
    }
}
