.rate {
    display: inline-flex;
    align-items: center;
}
.star {
    padding-left: 5px;
    display: inline-flex;
}
.isEditadle {
    cursor: pointer;
}
.primary svg {
    fill: var(--primary);
}
