.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image {
    position: relative;
    width: 100%;
    aspect-ratio: 6/4;
    overflow: hidden;
}
.wow {
    width: 100%;
    animation: an 50s ease-in-out infinite;
}
@keyframes an {
    0% {
        translate: 0% 0%;
        scale: 1;
    }
    20% {
        translate: 10% 5%;
        scale: 1.2;
    }
    40% {
        translate: 20% 10%;
        scale: 1.5;
    }
    60% {
        translate: 10% 5%;
        scale: 1.2;
    }
    80% {
        translate: -10% -5%;
        scale: 1.5;
    }
    100% {
        translate: 0% 0%;
        scale: 1;
    }
}
@media (max-width: 500px) {
    .home {
        grid-template-columns: 1fr;
    }
}
